.create-btn i{
    font-size: 20px;
}

.profile-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(img/man.png);
    background-size: cover;
}


.topic-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(img/man.png);
    background-size: cover;
}

.post-img{
    max-width: 500px;
    max-height: 800px; 
    object-fit: contain; /*оптимізація фотографії */
}

.author-link{
    text-decoration: none;
    color: brown;
}

.topic-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe-btn,.add-post-btn{
}

.like-btn.liked svg{
    fill: rgb(220, 22, 22);
}
