.create-btn i{
    font-size: 20px;
}

.profile-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-image: url(img/man.png);
    background-size: cover;
}


.topic-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(img/man.png);
    background-size: cover;
}
