{% extends 'base.html' %}
{% block content %}


<main class="container py-3">
    {% include 'alerts.html' %} <!-- підключення спливаючих повідомлень -->
    <div class="row">
        <div class="col md-2 col-lg-1">
            <div class="topic-image"
                style="background-image: url({{ url_for('static',filename='users_uploads/'+topic.image)}});"></div>
        </div>
        <div class="col-8">
            <h1>{{topic.name}}</h1>
        </div>

        <div class="col-12 col-md-3">
            <button class="btn-ligh">Subscribe</button>
        </div>
    </div>


    {% endblock %}